<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pyszne.pl</title>
</head>

<body>
    <h1>
        Pyszne Pl
    </h1>
    <p>jestem numerem1</p>
    <p>jestem numerem2</p>
    <p>jestem numerem3</p>
    <p>jestem numerem4</p>
    <p>jestem numerem5</p>
    <p>jestem numerem6</p>
    <p>jestem numerem7</p>
    <p>jestem numerem8</p>
    <p>jestem numerem9</p>
    <p>jestem numerem10</p>
</body>

</html>